{% extends "layout.html" %}

{% block body_content %}
    <h2>Add Stock</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.select_title.label }}
        {{ form.select_title }}
        {% if form.select_title.errors %}
    <div class="error">
 {% for error in form.select_title.errors %}
 <span>{{ error }}</span>
 {% endfor %}
 </div>
 {% endif %}
 <br>
        <p>
            {{ form.product_name.label }}<br>
            {{ form.product_name(size=25) }}<br>
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=10) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}