{% extends "layout.html" %}

{% block body_content %}
    <h2>Add Stock</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.product_name.label }}<br>
            {{ form.product_name(size=25) }}<br>
            {% if form.product_name.errors %}
            {% for error in form.product_name.errors %}
            <span> {{error}} </span>
            {% endfor %}
            {% endif %}

        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=10) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}