{% extends "layout.html" %}
{% block body_content %}
<p><h2>Stock List</h2></p>
{% if Stock %}
{% for item in Stock %}
	<div>
		<p> 
		 Product Name:</b>{{ item.product.product_name }}
         
         Product Category:</b>{{ item.product.product_category }}
         
         Size:</b>{{ item.product.size }}
         
         Price:</b>{{ item.product.price }}
        </p>
        <p>
         Quantity:</b>{{ item.quantity }}
		<a href="{{ url_for('update_product', product_id=stock.id) }}"> Update Product</a>
		</p>
	</div>
	<div>
		<form action="{{ url_for('deleteProduct') }}">
			<button type="submit">Delete Product</button>
		</form>
	</div>
	
{% endfor %}
{% else %}
	<p>There are no products in the stock list</p>
{% endif %}
{% endblock %}
