{% extends "layout.html" %}
{% block body_content %}
<p><h2>Stock List</h2></p>
{% if Product %}
{% for prod in Product %}
	<div>
		<h3>{{ Product.title }}</h3>
		<p> 
		 Product Name:</b>{{ prod.product_name }}
         
         Product Category:</b>{{ prod.product_category }}
         
         Size:</b>{{ prod.size }}
         
         Price:</b>{{ prod.price }}
        </p>
        <p>
         Quantity:</b>{{ prod.quantity }}
		<a href="{{ url_for('update_product', product_id=prod.id) }}"> Update Product</a>
		</p>
	</div>
	
{% endfor %}
{% else %}
	<p>There are no products in the stock list</p>
{% endif %}
{% endblock %}
